// main theme color
$primary: #27ff99;
$primary-75: #56ffaf;
$primary-50: #89ffc7;
$primary-25: #b7ffdd;
$primary-10: #e9fff5;
$twin-primary: #36393e;

// Nav Color
$nav-text-color: #1e2124; 
$nav-text-color-1: #424549;